@model GreenMobility.Models.Parking

@{
    ViewData["Title"] = "Chỉnh sửa bãi đỗ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Quản lý bãi đỗ</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminParkings" asp-action="Index" class="breadcrumb-item">Danh sách bãi đỗ</a>
            <span class="breadcrumb-item active">Chỉnh sửa bãi đỗ</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminParkings" asp-action="Edit" asp-route-id="@Model.ParkingId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ParkingId" />
    <input type="hidden" asp-for="Photo" />
    <div class="tab-content m-t-15">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-semibold" for="ParkingName">Tên bãi đỗ</label>
                    <input type="text" class="form-control" asp-for="ParkingName">
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold" for="Address">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address">
                </div>
                <div class="form-group d-flex align-items-center">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="IsActive">
                        <label for="IsActive"></label>
                    </div>
                    <label>Hoạt động</label>
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold" for="Photo">Ảnh đại diện</label>
                    <input name="fPhoto" type="file" class="form-control-file" asp-for="Photo" onchange="previewImage(event)">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div id="imagePreview">
                    @if (!string.IsNullOrEmpty(Model.Photo))
                    {
                        <img id="previewImg" src="~/images/parkings/@Model.Photo" style="max-width: 200px; max-height: 200px;" />
                    }
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Lưu</span>
                    </button>
                    <a asp-area="Admin" asp-controller="AdminParkings" asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.innerHTML = '<img id="previewImg" src="' + reader.result + '" style="max-width: 200px; max-height: 200px;" />';
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>


