@model GreenMobility.Models.Parking

@{
    ViewData["Title"] = "Chỉnh sửa bãi đỗ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-controller="AdminParkings" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ParkingId" />
    <input type="hidden" asp-for="Photo" />
    <div class="page-header no-gutters">
        <div class="row align-items-md-center">
            <div class="col-md-8">
                <h2 class="header-title">Quản lý bãi đỗ</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-area="Admin" asp-controller="AdminParkings" asp-action="Index" class="breadcrumb-item">Danh sách bãi đỗ</a>
                        <span class="breadcrumb-item active">Chỉnh sửa bãi đỗ</span>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-md-right">
                    <div>
                        <button type="submit" class="btn btn-primary mr-1">
                            <i class="anticon anticon-save"></i>
                            <span>Lưu</span>
                        </button>
                        <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Index" class="btn btn-success btn-tone">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Thông tin bãi đỗ</h4>
            </div>
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="img-fluid m-h-10 m-r-15" style="height: 80px; width: 120px">
                        <img id="avatarPreview" src="~/images/parkings/@Model.Photo" alt="Avatar Preview" style="object-fit: contain; width: 100%; height: 100%;">
                    </div>

                    <div class="m-l-20 m-r-20">
                        <h5 class="m-b-5 font-size-18">Ảnh đại diện</h5>
                        <p class="opacity-07 font-size-13 m-b-0">
                            Đề xuất: <br>
                            Ảnh chi tiết
                        </p>
                    </div>
                    <div>
                        <label for="fphoto" class="btn btn-tone btn-primary">
                            <span>Chọn ảnh</span>
                            <input type="file" id="fphoto" name="fphoto" asp-for="Photo" onchange="previewAvatar(event)" style="display: none;">
                        </label>
                    </div>
                </div>

                <hr class="m-v-25">
                <div class="form-group">
                    <label class="font-weight-semibold" for="ParkingName">Tên bãi đỗ</label>
                    <input type="text" class="form-control" asp-for="ParkingName" name="ParkingName">
                    @Html.ValidationMessage("ParkingName", "", new { @style = "color:#f00" })
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold" for="Address">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address">
                    @Html.ValidationMessage("Address", "", new { @style = "color:#f00" })
                </div>
                <div class="form-group d-flex align-items-center">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="IsActive">
                        <label for="IsActive"></label>
                    </div>
                    <label>Hoạt động</label>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        function previewAvatar(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('avatarPreview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}